:root {
  --ivory-black: #001220; 
  --dark-gunmetal: #132634; 
  --gunmetal: #172f3f; 
  --charcoal: #2c4c63; 
  --paynes-grey: #3e6a89; 
  --french-grey: #acbac4; 
  --alabaster: #e4e6db; 
  --lead-white: #f2f3ee; 
  --gamboge-yellow: #e49b0f; 
  --gamboge-yellow-light: #eab925; 
  --realgar: #ca633a; 
  --realgar-light: #e87a43; 
  --vermilion: #bb2740; 
  --vermilion-light: #d82d4c; 
  --fuchsine: #9224ad; 
  --fuchsine-light: #bf4cc9; 
  --tyrian-purple: #863cff; 
  --tyrian-purple-light: #976bef; 
  --smalt: #0060a1; 
  --smalt-light: #40abe5; 
  --verdigris: #3fa89d; 
  --verdigris-light: #5bd8c7; 
  --scheeles-green: #478800; 
  --scheeles-green-light: #7fc92a; 
}