:root {
  --ivory-black: #1a2a38; 
  --dark-gunmetal: #263849; 
  --gunmetal: #2d4354; 
  --charcoal: #40576b; 
  --paynes-grey: #4e7a98; 
  --french-grey: #a8b6c0; 
  --alabaster: #d8dad3; 
  --lead-white: #e4e6e0; 
  --gamboge-yellow: #CE8900; 
  --realgar: #E06E41; 
  --vermilion: #F6606D; 
  --fuchsine: #D76AF1; 
  --tyrian-purple: #B163FF; 
  --chartres-blue: #40ABE5; 
  --verdigris: #3FA89D; 
  --scheeles-green: #68A82C; 
}